/*==============Margin_section-position==============*/
.mr-bt_54{
    margin-bottom: 54px;
}




/*==============TITLE==============*/

.mr_tp-41{
    margin-top: 41px;
}

.mt_27{
    margin-top: 27px;
}

.mt-118{
   margin-top:118px
}

.mb-30{
   margin-bottom:30px
}

/*==============Margin_buttons==============*/


/*Pick your style*/
.mr-lf_200{
    margin-left: 200px;
}

.mb_27{
    margin-bottom: 21px;
}



/*Pick your style*/

.mt_54{
    margin-top: 54px;
}

.mb_40{
    margin-bottom: 40px;
}

/*Pick your style*/

.mt_54{
    margin-top: 54px;
}

.mb_25{
    margin-bottom: 25px;
}

/*==============Margin_links==============*/

.ml_65{
    margin-left: 65px;
}

/*==============Margin_input==============*/

.mr35{
    margin-right: 35px;

}

.mt66{
    margin-top: 66px;
}

/*==============Margin_control==============*/

.mt-14{
    margin-top: 14px;
}

.mt-8{
    margin-top: 8px;
}


.mt-12{
    margin-bottom: 16px;
}

/*==============Margin_menu==============*/

.mt-30{
    margin-top: 30px;
}

/*==============Margin_nav==============*/

.mt-50{
    margin-top: 50px;
}

.mt-27{
    margin-top: 27px;
}


.mt-20{
    margin-bottom: 20px;

}


.mb-220{
    margin-bottom: 220px;
}

.mr-65{
    margin-left: 65px;
}

.mb-80{
    margin-bottom: 80px;
}